
// == Color waiting
$colorParaTransparent: #d88666e8;
$colorTitleLight: black;
$colorBorderBottom: #7e4222;

// == Police
$festive: 'Festive', cursive;
$dancing: 'Dancing Script', cursive;
$indie: 'Indie Flower', cursive;
$policeTitle: 'Lobster', cursive;
$cabin: 'Cabin', sans-serif;
$raleway: 'Raleway', 'sans-serif';
