@import "src/assets/sass/Utils/_variable.scss";
@import "src/assets/sass/Utils/_mixins.scss";

.down {
    background-color: #CA7C5C;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link_footer {
  margin-bottom: 2rem;

  a {
    padding-right: 20px;

    .icon_footer_github {
      font-size: 50px;
      color: black;

      &:hover {
        color:white;
      }
    }

    .icon_footer_linkedin {
      font-size: 50px;
      color: black;
      
      &:hover {
        color:#0A66C2;
      }
    }
  }
}

.txt_footer {
  display: flex;
  font-size: 1.5rem;
  @include for-phone-only {
    flex-direction: column;
  }
}

.txt_footer_gmail, .txt_footer_phone, .txt_footer_copyright {
  display: flex;

  p {
    margin-left: 0.5rem;
  }
  @include for-phone-only {
    margin-top: 1rem;
  }
}

.txt_footer_gmail, .txt_footer_phone {
  /* A MODIFIER */
  margin-right: 15rem;

  @include for-phone-and-tablet-only {
    margin-right: 3rem;
  }
}
