@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import "src/assets/sass/Utils/_variable.scss";
@import "src/assets/sass/Utils/_mixins.scss";

.competences {
  background-color: #c89f9c;
  font-size: 50px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    text-align: center;
    text-transform: uppercase;
    font-family: "Dosis", sans-serif;
    .fabookmark {
      color: #b36a5e;
    }

    @include for-phone-only {
      font-size: 2rem;
    }
  }

  .skill {
    display: flex;
    flex-direction: column;
    font-family: "Architects Daughter", cursive;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin-top: 2rem;

    .skill--picture {
      @include for-phone-only {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    .competences--tab {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }

    .competences--img {
      width: 100px;
      padding: 1rem;
    }
  }
}
