@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import "src/assets/sass/Utils/_variable.scss";
@import "src/assets/sass/Utils/_mixins.scss";

.realisation {
  background-color: #EED7C5;
  font-size: 50px;
  padding: 30px; 

  p {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    padding-bottom: 2rem;

    .fabookmark {
      color: #B36A5E;
    }
    @include for-phone-only {
      font-size: 2rem;
    }
  }
}

.img_portfolio {
  width: 50%;

  &:hover {
    box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
  }
}
